<div class="wrapper">
  <div class="container">
    <div class="admin-navbar">
      <p><%= link_to "Dashboard", deltadmin_path, class: "link-name" %></p>
      <p>|</p>
      <p><%= link_to "Catégorie", deltadmin_categories_path, class: "link-name" %></p>
    </div>
  </div>
