.admin-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #191919;
  color: white;
  padding: 10px 0px;
  a {
    color: white;
  }
  p {
    margin: 0px;
  }
}
